
.taskCard{
    display: flex;
    width: 95%;
    margin: 0 auto;
    justify-content: space-between;
    padding: 10px;
    align-items: center;
    height: 100px;
    background-color: #D9D9D9;
    border-radius: 8px;
    margin-top: 10px;
    min-width: 290px;
}

.buttonsResponsive{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    width:50%;
  
    align-items: center;
}

.cardButtons{
   
    width: 50%;
    display: flex;
    justify-content: space-between;
}

@media (max-width: 800px) {
    .taskCard{
        flex-direction: column;
        height: 150px;
    }
    .buttonsResponsive{
        display: flex;
        width: 80%;
        justify-content: space-around;
    }

    
  }