
.taskCard{
    display: flex;
    width: 160px;
    margin: 0 auto;
    align-items: center;
    height: 260px;
    background-color: #D9D9D9;
    border-radius: 8px;
    margin-top: 10px;
    flex-direction: column;
    padding:16px;
    font-size: 12px;
   
}
.buttonsResponsive{
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 0 auto;

  width: 100%;
  align-items: center;
}

.cardButtons{

    width: 100%;
    display: flex;
    justify-content: space-between;
}

.cardEstado {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }
  
  .estadoTexto {
    font-weight: bold;
    text-transform: capitalize;
    font-size: 12px;
  }
  
  
.cardInfo p{
  overflow-x: auto;
  overflow-y: auto;
  width: 150px; 
}

.descripcionText{
  max-height: 30px;

  overflow-y: auto;
}

.btnCustom:hover{
    background-color:  #3d3877!important;
    scale: 1.1;
    outline: 2px solid #6B63D4 !important;
    
  }

  .btnCustomDelete:hover{
   
    scale: 1.1;
    outline: 2px solid red !important;
    background-color: #d46363 !important ;
    
  }

  
  .buttonState{
    display: flex;
    background-color: #6B63D4;
    
    color: white;
    
    width: 120px;
    justify-content: space-between;
    border-radius: 8px;
    align-items: center;
  }
  
  .btnInState{
    font-size: 18px;
    background-color: hsl(244, 27%, 42%);
    border: none;
    padding: 2px;
    
  }

  .btnInState:first-child{
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
  }
  
  .btnInState:last-child{
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
  }
  
  button:active {
    background-color: inherit;
    transform: none;
    box-shadow: none;
  }
  
  
  
  
  @media (max-width: 850px) {
      .taskCard{
          flex-direction: column;
          width: 160px;
          padding: 10px 0;
      }
      .buttonsResponsive{
          display: flex;
          width: 100%;
          flex-direction: column;
          gap: 10px;
          margin: 0 auto;
      }
  
      .cardButtons{
         width: 70%;
      }
      .btnCustom:first-child{
          width:60px;
          font-size: 10px;
      }
    }
    