
.containerPrincipal{
    width: 90vw;
    padding: 0;
    margin: 0;
}
.containerTitle{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    
}
.containerButton{
    padding-left: 5vw ;
}
.containercontentFlex{
    height: 80vh;
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
 
    overflow-y: auto;
    overflow-x: auto;
    gap: 4rem;
   width: 63vw;
   margin: 0 auto;
}
.containerContentTasks{
  
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

.containerTasks{
   
    width: 100%;
    min-width: 400px;
    background-color: rgb(198, 197, 197);
    border-radius: 10px;
    box-shadow: 2px 5px 15px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;
    height: 100%;

} 

.btnCustom {
    background-color: #6B63D4 !important;
    border: none !important;
    outline: none !important; /* Evita el borde al hacer clic */
    box-shadow: none !important; /* Evita el resaltado al enfocar */
    color: white !important;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

@media (max-width: 1000px) {
    .containercontentFlex {
        display: flex;
        flex-direction: column;
        
         
    }
    .containerContentTasks{
        width: 100%;
        align-items: start;
        min-height: 300px;
    }

    
}