*{
    box-sizing: border-box;
}
.asideMain{
    background-color: #eaeaea;
    height: 87vh;
  
    width: 30vw;
    justify-content: center;
    min-width: 220px;
    max-width: 320px;
}


.asideMainContainer{

    text-align: center;
    
    justify-content: center;
    background-color: #eaeaea;
    border-radius: 12px;
    padding: 20px;
    height: 70vh;
}

.backlogButton{
    display: flex;
    justify-content: center;
    padding: 8px;
    
}
.backlogButton button{
    display: flex;
    justify-content: center;
    padding: 8px;
    background-color: #6B63D4;
    border: none;
    width: 70%;
    font-size: 20px;
    font-weight: bold;
    
}

.headerAside{
    
    display: flex;
    justify-content: space-around;
    gap: 1rem;
    align-items: center;
    
    width: 85%;
    min-width: 180px;
    margin: 20px auto;
    border-bottom: 6px solid black;
    padding: 2px;
}

.headerAside button{
    background-color: #6B63D4;
    border: none;
}

.headerAside h3{
    font-size: 16px;
    
}