

.cardContainer{
   
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding: 1rem;
    box-shadow: 4px 4px 8px;
    max-width: 280px;
    border-radius: 12px;
    background-color: #B2B2B2;
    width: 98%;
    align-items: center;
    
}




.buttonContainer button{
    background-color: #6B63D4;
    border: none;
}

.buttonContainer button:last-child{
    background-color: red;
}


.dataContainer{
    text-align: left;
    font-size: 8px;
    
}

.dataContainer h3{
    font-size: 18px;
    
}
.dataContainer h3{
    font-size: 15px;
    
}

.buttonContainer{
    display: flex;
    justify-content: end;
    gap: 8px;
    margin: 0 auto;
}

.btnCustom img{
    width: 20px;
}

.btnCustom:hover{
    background-color:  #3d3877!important;
    scale: 1.1;
    outline: 2px solid #6B63D4 !important;
  
  }

  .btnCustomDelete:hover{
   
    scale: 1.1;
    outline: 2px solid red !important;
    background-color: #d46363 !important ;
  
  }
