.containerPrincipal{
    position: absolute;
    left: 40%;
    top: 40%;
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px;
    padding: 1rem;
}
.containerTitle{
    padding: 1rem;
    text-align: center;
}
.containerForm{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.containerForm input{
    text-align: center;
}
.containerButtons{
    padding-top: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
